# Ignorar modelos grandes
*.h5
*.pth
*.ckpt

# Ignorar datasets
*.zip
*.tar.gz
*.csv
*.png
*.jpg
*.jpeg

# Carpetas pesadas
__pycache__/
data/
Installers/

# Ignorar carpeta completa Assets
Assets/

# PERO incluir imágenes dentro de Assets
!Assets/
!Assets/*.png
!Assets/*.jpg
!Assets/*.jpeg
!Assets/*.gif